@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hind Siliguri";
  src: url("./assets/fonts/HindSiliguri/HindSiliguri-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
